<!-- user can select which region they want to see -->
<ion-view class="view" view-title="Regions">
	<ion-content>
<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="search" id="search-criteria" placeholder="Search" ng-model="query[queryBy]">
			</label>
		<ion-list id="item">
			<ion-item ui-sref="ALL">
				<p>ALL</p>
			</ion-item>
			<ion-item ui-sref="EU">
				<p>EU</p>
			</ion-item>
			<ion-item ui-sref="ASPAC">
				<p>ASPAC</p>
			</ion-item>
			<ion-item ui-sref="USCAN">
				<p>USCAN</p>
			</ion-item>
			<ion-item ui-sref="EAGM">
				<p>EAGM</p>
			</ion-item>
			<ion-item ui-sref="LATAM">
				<p>LATAM</p>
			</ion-item>
			<ion-item ui-sref="CHINA">
				<p>CHINA</p>
			</ion-item>
			<ion-item ui-sref="INDIA">
				<p>INDIA</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>