<!-- user can select which region they want to see -->
<ion-view view-title="Regions">
	<ion-content>
		<ion-list id="item">
			<ion-item ui-sref="app.EU">
				<p>EU</p>
			</ion-item>
			<ion-item href="#">
				<p>ASPAC</p>
			</ion-item>
			<ion-item ui-sref="app.USCAN">
				<p>USCAN</p>
			</ion-item>
			<ion-item href="#">
				<p>EAGM</p>
			</ion-item>
			<ion-item href="#">
				<p>LATAM</p>
			</ion-item>
			<ion-item href="#">
				<p>CHINA</p>
			</ion-item>
			<ion-item href="#">
				<p>INDIA</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>