/* Empty. Add your own CSS if you like */
.title{
	text-align: center;
}
#region{
	text-align: center;
}
#item{
	padding-top: 50px;
	text-align: center;
}
#LocName{
	text-align: center;
}
#details{
	text-align: center;
}